@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
    
}
.other-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.1);
    
    height: 650px;
    width: 550px;
    margin: 0; 
    padding: 0;
}
.main-container > div:not(:last-child) {
    margin-right: 0; }

.sign-in {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 249, 249);
    width: 550px;
    height: 650px;
    margin: 0;
    box-shadow: 10px 14px 10px rgba(0, 0, 0, 0.1);
    border: #3db299;
   
}
.sign-in #h{
    background-color: rgb(255, 249, 249); 

}

.sign-in h2 {
    margin-bottom: 20px;
    color: #021e19;
    background-color: rgb(255, 249, 249);
    font-size: 40px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  }
.sign-in h4{
    background-color: rgb(255, 249, 249); 

}

.sign-in label {
    margin-top: 10px;
    color: #004d40;
    background-color: rgb(255, 249, 249);  
}

.sign-in input {
    margin-bottom: 25px;
    padding: 10px;
    width: 350px;
    background-color: rgb(236, 199, 190);  
    border-radius: 15px;
    border: none; }

.sign-in button{
    padding: 10px 20px;
    color: white;
    background-color: #02548e; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; }
.sign-in #create_acc
{   background-color:#3db299;
    border-radius: 5px;

}

.sign-in #B2{
    background-color: #cc4106;
    border-radius: 50%; 
    width: 50px;            
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    
}
.sign-in #B4{
    background-color: #173a82;
    border-radius: 50%; 
    width: 50px;            
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:30px;

}
.sign-in #B5{
    background-color: #413ec5;
    border-radius: 50%; 
    width: 50px;            
    height: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;

}

.sign-in button:hover {
    background-color: #004d40; 
}

.divider {
    position: relative;
    text-align: center;
    margin: 20px 0;
}

.divider hr {
    border: none;
    border-top: 1px solid #D1E3DE;
    margin: 0;
}

.divider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 249, 249); 
    padding: 0 10px;
    color: #666;
    font-weight: bold;
}
.social-buttons {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    margin-bottom: 20px;
    background-color: rgb(255, 249, 249); 

}

.form-buttons {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    margin-top: 20px; 
    background-color: rgb(255, 249, 249); 
    

}

#sign-in, #go-back {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}

#sign-in {
    background-color: #3db299; 
    color: white;
    width: 140px;
}

#go-back {
    background-color: #3db299; 
    color: white;
    width: 140px;
    
}
