#sign-in-form,
.form-element {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#sign-in-form button {
    background-color: var(--ui);
    border: none;
    border: 1px solid var(--tx);
    border-radius: 5px;
    padding: 0.5em;
    width: max-content;
    font-size: 0.8em;
}

#sign-in-form input {
    background-color: var(--bg-2);
    border: none;
    border: 1px solid var(--tx);
    border-radius: 5px;
    padding: 0.5em;
    width: max-content;
    font-size: 0.8em;
}

.form-element input {
    width: 15em;
}

.form-alert {
    color: red;
}